{
  "sourceMaps": true,
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 4 versions", "chrome >= 41"]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-class-properties"],
    ["syntax-async-functions"],
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
