@import "~style/variables";

.myform {
    input,
    textarea {
        border: none;
        border-bottom: 1px solid darken($text-color, 50%);
        border-radius: 2px;
        margin-bottom: 10px;
        padding: 4px;

        display: block;
        width: 100%;
        background: $background;
        color: $text-color;
    }

    button {
        background: lighten($background, 15%);
        border: none;
        border-radius: 5px;
        padding: 5px;
        min-width: 200px;
        color: #fff;
    }
}
