@import url('https://fonts.googleapis.com/css?family=Montserrat');

$montserrat-font: 'Montserrat', ariel, sans-serif;

$text-color: #fff;
$text-font: $montserrat-font;
$background: #000;

$screens-size-md: 768px;
